#dynamicClusterChart {
    position: absolute;
    top: 10%;
    left: 10%;
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.clusterstep {
    margin: 0 1 20vh 1;
    height: 10vh;
    width: 100%;
    padding: 20px;
    z-index: -1;
}